.nav-link:link{
    font-family: "Grandstander", cursive;
    color: #000000;
    font-size: 30px;
}

.nav-link:visited{
    color: #000000;
}

.nav-link:hover {
    color:#fbd3df;
}

.logo {
    width: 150px;
}

.bg-custom{
    background-color:#c49a6c;
}

.footer {
    background-color:#8b5e3c;
    color:#fff;
    font-family: "Grandstander", cursive;
}

.bi{
    color:#ecac58;
}

h5 {
    font-weight:800;
    color:#ecac58
}

.text-primary {
    font-family: "Grandstander", cursive;
    color: #000000;
}

.btn-primary {
    background-color: #F4A261;
    border-color: #F4A261;
}

.btn-primary:hover {
    background-color: #fbd3df;
    border-color: #fbd3df;
}

body {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4 {
    font-family: 'Grandstander', cursive;
}


